.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialog a{
    color: darkslateblue;
    text-decoration: none;
}

.dialog a.activeLink{
    color: black;
}

.dialogItems {

}

.active {
    color: gold;
}

.messages {
}

.message {

}

.messages textarea {
    width: 250px;
    height: 80px;
    margin-top: 20px;

}